extends layout

block content
	h1= title
	p select images from list below...
	div#images
	br
	button.btn.btn-default#editImages(type="submit") Edit Selected
	script(type='text/javascript').
		projectId = "#{projectId}";
	script(src="/javascripts/project-images.js")

